<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/home">Home</a>
        <a class="breadcrumb-item text-dark" href="/shop">Shop</a>
        <span class="breadcrumb-item active">Shopping Cart</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    @if (cartItems.length === 0){
      <div class="col-12 text-center">
        <h2 class="text-uppercase">Your cart is empty</h2>
        <a class="btn btn-primary" href="/shop">Continue Shopping</a>
      </div>
    } @else {
      <div class="col-lg-8 table-responsive mb-5">
        <app-cart-table [cartItems]="cartItems" (itemDeleted)="onItemDeleted($event)" (quantityplus)="dodato($event)" (quantityminus)="oduzeto($event)"></app-cart-table>
      </div>
      <div class="col-lg-4">
        <app-cart-side [cartItems]="cartItems" [total]="total"></app-cart-side>
      </div>
    }

  </div>
</div>
<!-- Cart End -->
