<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/home">Home</a>
        <a class="breadcrumb-item text-dark" href="/shop">Shop</a>
        <span class="breadcrumb-item active">Shop List</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">

      <div class="accordion pb-2" id="accordionExample">
        <!-- Price Filter Accordion -->
        @if(!this.Category){
          <!-- Filter by Category Accordion -->
            <!-- Filter by Category Accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingCategory">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
                Filter by Category
              </button>
            </h2>
            <div id="collapseCategory" class="accordion-collapse collapse show" aria-labelledby="headingCategory" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="bg-light p-4 mb-30">
                  <form>
                    @for(c of Categories; track $index) {
                      <a class="d-block text-decoration-none text-dark p-2 mb-2" href="/shop/{{ c.name }}">
                        {{ c.name }}
                        <span class="badge badge-pill bg-light float-right text-muted border">300</span>
                      </a>
                    }
                  </form>
                </div>
              </div>
            </div>
          </div>


        }


        <!-- Color Filter Accordion -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingColor">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColor" aria-expanded="false" aria-controls="collapseColor">
              Filter by Color
            </button>
          </h2>
          <div id="collapseColor" class="accordion-collapse collapse show" aria-labelledby="headingColor" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="bg-light p-4 mb-30">
                <form>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" checked id="color-all">
                    <label class="custom-control-label" for="color-all">All Color</label>
                    <span class="badge border font-weight-normal">1000</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-1">
                    <label class="custom-control-label" for="color-1">Black</label>
                    <span class="badge border font-weight-normal">150</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-2">
                    <label class="custom-control-label" for="color-2">White</label>
                    <span class="badge border font-weight-normal">295</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-3">
                    <label class="custom-control-label" for="color-3">Red</label>
                    <span class="badge border font-weight-normal">246</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-4">
                    <label class="custom-control-label" for="color-4">Blue</label>
                    <span class="badge border font-weight-normal">145</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                    <input type="checkbox" class="custom-control-input" id="color-5">
                    <label class="custom-control-label" for="color-5">Green</label>
                    <span class="badge border font-weight-normal">168</span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Size Filter Accordion -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSize">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSize" aria-expanded="false" aria-controls="collapseSize">
              Filter by Size
            </button>
          </h2>
          <div id="collapseSize" class="accordion-collapse collapse " aria-labelledby="headingSize" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="bg-light p-4 mb-30">
                <form>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" checked id="size-all">
                    <label class="custom-control-label" for="size-all">All Size</label>
                    <span class="badge border font-weight-normal">1000</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-1">
                    <label class="custom-control-label" for="size-1">XS</label>
                    <span class="badge border font-weight-normal">150</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-2">
                    <label class="custom-control-label" for="size-2">S</label>
                    <span class="badge border font-weight-normal">295</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-3">
                    <label class="custom-control-label" for="size-3">M</label>
                    <span class="badge border font-weight-normal">246</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-4">
                    <label class="custom-control-label" for="size-4">L</label>
                    <span class="badge border font-weight-normal">145</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                    <input type="checkbox" class="custom-control-input" id="size-5">
                    <label class="custom-control-label" for="size-5">XL</label>
                    <span class="badge border font-weight-normal">168</span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Size End -->
    </div>
    <!-- Shop Sidebar End -->


    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
              <button class="btn btn-sm btn-light" (click)="toggleLayout(true)"><i class="fa fa-th-large"></i></button>
              <button class="btn btn-sm btn-light ml-2" (click)="toggleLayout(false)"><i class="fa fa-bars"></i></button>
            </div>
            <div class="ml-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Latest</a>
                  <a class="dropdown-item" href="#">Popularity</a>
                  <a class="dropdown-item" href="#">Best Rating</a>
                </div>
              </div>
              <div class="btn-group ml-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">10</a>
                  <a class="dropdown-item" href="#">20</a>
                  <a class="dropdown-item" href="#">30</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        @if(response.length==0){
          <div class="col-12">
            <div class="alert alert-danger text-center">No products found</div>
          </div>
        }
        @if(isThreeColumns){
          <div *ngFor="let product of response; let i = index" class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <app-card [product]="product" (addToCartEvent)="showModal = true"></app-card>
          </div>

        <!--@for(x of response; track $index){
          <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="http://localhost:5083/images/{{ x.pictures[0].path}}" alt="{{ x.pictures[0].modelVersionName}}">
                <div class="product-action">
                  <button class="btn btn-outline-dark btn-square" (click)="AddToCart(x.id)"><i class="fa fa-shopping-cart"></i></button>
                  <a class="btn btn-outline-dark btn-square" href="/shop/{{x.categoryName}}/{{x.id}}"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="">{{x.brandName}} {{x.modelName}}</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>${{x.price}}</h5><h6 class="text-muted ml-2"><del>${{x.price*1.2}}</del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
        }-->
        } @else {
          <div class="col-12 pb-3">

            @for (x of response; track $index){
              <app-wcard [product]="x" (addToCartEvent)="showModal = true"></app-wcard>
            }

          </div>
        }


        <div class="col-12">
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active': showModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add to Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Product added to cart successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showModal = false">Close</button>
      </div>
    </div>
  </div>
</div>

