<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/home">Home</a>
        <a class="breadcrumb-item text-dark" href="/shop">Shop</a>
        <span class="breadcrumb-item active">Shop List</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-4">
      <div class="accordion pb-2" id="accordionExample">
        <div class="accordion" id="specificationsAccordion">
          <div class="accordion-item" *ngFor="let parentSpec of allFilters; let i = index">
            <h2 class="accordion-header" [id]="'heading' + parentSpec.id">
              <button class="accordion-button d-flex justify-content-between" type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse' + parentSpec.id"
                      [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
                      [attr.aria-controls]="'collapse' + parentSpec.id"
                      (click)="toggleArrow(parentSpec.id)"
                      [class.collapsed]="i !== 0">
                {{ parentSpec.name }}
              </button>
            </h2>
            <div [id]="'collapse' + parentSpec.id" class="accordion-collapse collapse"
                 [class.show]="i === 0"
                 [attr.aria-labelledby]="'heading' + parentSpec.id"
                 data-bs-parent="#specificationsAccordion"
                 (shown.bs.collapse)="parentSpec.isOpen = true"
                 (hidden.bs.collapse)="parentSpec.isOpen = false">
              <div class="accordion-body">
                <div class="bg-light p-4 mb-30">
                  <form>
                    <ng-container *ngIf="parentSpec.id == 1">
                      <a *ngFor="let c of Categories;"
                         class="d-block text-decoration-none text-dark p-2 mb-2"
                         [href]="'/shop/' + c.name">
                        {{ c.name }}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="parentSpec.id != 1">
                      <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                           *ngFor="let c of parentSpec.children;">
                        <input type="checkbox" class="custom-control-input"
                               [id]="'category-' + c.id"
                               name="category"
                               [checked]="c.isChecked"
                               (change)="c.isChecked = !c.isChecked">
                        <label class="custom-control-label" [for]="'category-' + c.id">{{ c.name }}</label>
                      </div>
                    </ng-container>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Shop Sidebar Start -->
    <!--<div class="col-lg-3 col-md-4">
      <div class="accordion pb-2" id="accordionExample">
        &lt;!&ndash; Filter by Category Accordion &ndash;&gt;
        @if (!this.Category) {
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingCategory">
              <button class="accordion-button d-flex justify-content-between" type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseCategory"
                      aria-expanded="true"
                      aria-controls="collapseCategory"
                      (click)="toggleArrow('category')"
                      [class.collapsed]="!isCategoryOpen">
                Filter by Category
              </button>
            </h2>
            <div id="collapseCategory" class="accordion-collapse collapse show"
                 aria-labelledby="headingCategory"
                 data-bs-parent="#accordionExample"
                 (shown.bs.collapse)="isCategoryOpen = true"
                 (hidden.bs.collapse)="isCategoryOpen = false">
              <div class="accordion-body">
                <div class="bg-light p-4 mb-30">
                  <form>
                    @for (c of Categories; track $index) {
                      <a class="d-block text-decoration-none text-dark p-2 mb-2" href="/shop/{{ c.name }}">
                        {{ c.name }}
                        <span class="badge badge-pill bg-light float-right text-muted border">300</span>
                      </a>
                    }
                  </form>
                </div>
              </div>
            </div>
          </div>

        } @if (brands.length>0){
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingBrand">
              <button class="accordion-button d-flex justify-content-between" type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseBrand"
                      aria-expanded="true"
                      aria-controls="collapseBrand"
                      (click)="toggleArrow('brand')"
                      [class.collapsed]="!isBrandOpen">
                Filter by Brand
              </button>
            </h2>
            <div id="collapseBrand" class="accordion-collapse collapse show"
                 aria-labelledby="headingBrand"
                 data-bs-parent="#accordionExample"
                 (shown.bs.collapse)="isBrandOpen = true"
                 (hidden.bs.collapse)="isBrandOpen = false">
              <div class="accordion-body">
                <div class="bg-light p-4 mb-30">
                  <form>
                    @for (b of brands; track $index) {
                      <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" [id]="'brand-' + b.id" name="brand" value="{{ b.id }}"
                               >
                        <label class="custom-control-label" [for]="'brand-' + b.id">{{ b.name }}</label>
                      </div>
                    }
                  </form>
                </div>
              </div>
            </div>
          </div>
        }
      @if(models.length>0){
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingModel">
            <button class="accordion-button d-flex justify-content-between" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseModel"
                    aria-expanded="true"
                    aria-controls="collapseModel"
                    (click)="toggleArrow('model')"
                    [class.collapsed]="!isModelOpen">
              Filter by Model
            </button>
          </h2>
          <div id="collapseModel" class="accordion-collapse collapse show"
               aria-labelledby="headingModel"
               data-bs-parent="#accordionExample"
               (shown.bs.collapse)="isModelOpen = true"
               (hidden.bs.collapse)="isModelOpen = false">
            <div class="accordion-body">
              <div class="bg-light p-4 mb-30">
                <form>
                  @for (m of models; track $index) {
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                      <input type="radio" class="custom-control-input" [id]="'model-' + m.id" name="model" value="{{ m.id }}"
                             >
                      <label class="custom-control-label" [for]="'model-' + m.id">{{ m.name }}</label>
                    </div>
                  }
                </form>
              </div>
            </div>
          </div>
        </div>
      }



        @if(Specifications.length>0) {
          <div class="accordion" id="specificationsAccordion">
            <div class="accordion-item" *ngFor="let parentSpec of Specifications; let i = index">
              <h2 class="accordion-header" [id]="'heading' + parentSpec.id">
                <button class="accordion-button d-flex justify-content-between" type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + parentSpec.id"
                        [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
                        [attr.aria-controls]="'collapse' + parentSpec.id"
                        (click)="toggleArrow(parentSpec.id)"
                        [class.collapsed]="i !== 0">
                  {{ parentSpec.name }}
                </button>
              </h2>
              <div [id]="'collapse' + parentSpec.id" class="accordion-collapse collapse"
                   [class.show]="i === 0"
                   [attr.aria-labelledby]="'heading' + parentSpec.id"
                   data-bs-parent="#specificationsAccordion"
                   (shown.bs.collapse)="parentSpec.isOpen = true"
                   (hidden.bs.collapse)="parentSpec.isOpen = false">
                <div class="accordion-body">
                  <div class="bg-light p-4 mb-30">
                    <form>
                      <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                           *ngFor="let childSpec of parentSpec.children">
                        <input type="checkbox" class="custom-control-input" [id]="'spec-' + childSpec.id">
                        <label class="custom-control-label" [for]="'spec-' + childSpec.id">{{ childSpec.name }}</label>
                        <span class="badge border font-weight-normal">{{ childSpec.count || 0 }}</span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }

      </div>
    </div>-->

    <!-- Shop Sidebar End -->


    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
              <button class="btn btn-sm btn-light" (click)="toggleLayout(true)"><i class="fa fa-th-large"></i></button>
              <button class="btn btn-sm btn-light ml-2" (click)="toggleLayout(false)"><i class="fa fa-bars"></i></button>
            </div>
            <div class="ml-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Latest</a>
                  <a class="dropdown-item" href="#">Popularity</a>
                  <a class="dropdown-item" href="#">Best Rating</a>
                </div>
              </div>
              <div class="btn-group ml-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">10</a>
                  <a class="dropdown-item" href="#">20</a>
                  <a class="dropdown-item" href="#">30</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        @if(response.length==0){
          <div class="col-12">
            <div class="alert alert-danger text-center">No products found</div>
          </div>
        }
        @if(isThreeColumns){
          <div *ngFor="let product of response; let i = index" class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <app-card [product]="product" (addToCartEvent)="showModal = true"></app-card>
          </div>

        <!--@for(x of response; track $index){
          <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="http://localhost:5083/images/{{ x.pictures[0].path}}" alt="{{ x.pictures[0].modelVersionName}}">
                <div class="product-action">
                  <button class="btn btn-outline-dark btn-square" (click)="AddToCart(x.id)"><i class="fa fa-shopping-cart"></i></button>
                  <a class="btn btn-outline-dark btn-square" href="/shop/{{x.categoryName}}/{{x.id}}"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="">{{x.brandName}} {{x.modelName}}</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>${{x.price}}</h5><h6 class="text-muted ml-2"><del>${{x.price*1.2}}</del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
        }-->
        } @else {
          <div class="col-12 pb-3">

            @for (x of response; track $index){
              <app-wcard [product]="x" (addToCartEvent)="showModal = true"></app-wcard>
            }

          </div>
        }


        <div class="col-12">
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active': showModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add to Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Product added to cart successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showModal = false">Close</button>
      </div>
    </div>
  </div>
</div>

