<div class="col-12 pt-2">
  <div class="bg-secondary rounded h-100 p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h6 class="mb-0">{{ tableName }}</h6>
      <button class="btn btn-outline-success" (click)="openModal('Insert')">Insert <i class="fa fa-pen"></i></button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th *ngFor="let key of keys">{{ key }}</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of response">
          <td *ngFor="let key of keys">
            <ng-container *ngIf="key === 'path'; else normalCell">
              <img src="http://localhost:5083/images/{{ row[key] }}" alt="" style="width: 50px;">
            </ng-container>
            <ng-template #normalCell>
              {{ row[key] || 'N/A' }}
            </ng-template>
          </td>
          <td>
            <button class="btn btn-outline-warning" (click)="openModal('Update', row)">Update <i class="fa fa-pen"></i></button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="DeleteRow(row['id'])">Delete <i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="deleteError" (click)="closeDeleteErrorModal()">
  <div class="modal bg-secondary rounded border border-opacity-10 border-primary" (click)="$event.stopPropagation()">
    <div class="h-100 p-4">
      <h6 class="mb-4 text-center">Error</h6>
      <div class="alert alert-primary text-center">
        <p>{{ deleteError }}</p>
      </div>
      <div class="modal-footer mt-3">
        <button class="btn btn-outline-primary w-100 m-2" (click)="closeDeleteErrorModal()">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal-backdrop " *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal bg-secondary rounded border border-opacity-10 border-primary" (click)="$event.stopPropagation()">
    <div class="h-100 p-4">
      <h6 class="mb-4">{{modalType}}</h6>
      <div class="form-floating mb-3">
        @if(modalType === 'Insert'){
          <div *ngFor="let key of InsertKeys" class="form-floating mb-3">
            @if(key.endsWith('Name') && key != 'firstName' && key != 'lastName'){
              <div class="form-floating">
                <select class="form-select" id="floatingSelect{{ key }}" [(ngModel)]="formData[key.slice(0,-4)+'Id']">
                  <option value="" selected disabled>Open menu to select...</option>

                  <option *ngFor="let d of data[key.slice(0, -4)]" [value]="d.id" >
                    {{ d.name }}
                  </option>
                </select>
                <label for="floatingSelect{{ key }}">{{ key }}</label>
              </div>
            }
            @else if (key.endsWith('Value')){
              <div class="form-floating">
                <select class="form-select" id="floatingSelect{{ key }}" [(ngModel)]="formData['specificationId']">
                  <option value="" selected disabled>Open menu to select...</option>

                  <option *ngFor="let d of data[key]" [value]="d.id" >
                    {{ d.name }}
                  </option>
                </select>
                <label for="floatingSelect{{ key }}">{{ key }}</label>
              </div>
            }
            @else if (key.endsWith('Parent')){
              <div class="form-floating">
                <select class="form-select" id="floatingSelect{{ key }}" (change)="onParentChange($event)">
                  <option value="" selected disabled>Open menu to select...</option>
                  <option *ngFor="let option of data[key]" [value]="option.id">
                    {{ option.name }}
                  </option>
                </select>

                <label for="floatingSelect{{ key }}">{{ key }}</label>
              </div>
            }
            @else if (key=='path'){
              <div class="">

                <input class="form-control bg-dark" type="file" >
              </div>
            }
            @else if (key=='dateFrom' || key=='dateTo'){
              <div class="form-floating">
                <input class="form-control bg-dark custom-datetime" type="datetime-local">
              </div>

            }
            @else {
              <input
                class="form-control"
                id="floatingInput{{ key }}"
                [(ngModel)]="formData[key]"
              />
              <label for="floatingInput{{ key }}">{{ key }}</label>
            }
          </div>

          <div class="alert alert-danger text-center" *ngIf="errors && errors.length > 0">
            <ul class="list-unstyled">
              <li *ngFor="let error of errors">{{ error.error }}</li>
            </ul>
          </div>

        }

        @else {
          <div *ngFor="let key of UpdateKeys" class="form-floating mb-3">
            @if (key.endsWith('Name') && key != 'firstName' && key != 'lastName'){
              <div class="form-floating">
                <select class="form-select" id="floatingSelect{{ key }}" [(ngModel)]="selectedRow[key.slice(0, -4)+'Id']">

                  <option *ngFor="let d of data[key.slice(0, -4)]" [value]="d.id" [selected]="d.id === selectedRow[key.slice(0, -4)+'Id']">
                    {{ d.name }}
                  </option>
                </select>
                <label for="floatingSelect{{ key }}">{{ key }}</label>
              </div>
            }
            @else if (key.endsWith('Value')){
              <div class="form-floating">
                <select class="form-select" id="floatingSelect{{ key }}" [(ngModel)]="selectedRow['specificationId']">

                  <option *ngFor="let d of data[key]" [value]="d.id" [selected]="d.name === selectedRow[key]">
                    {{ d.name }}
                  </option>
                </select>
                <label for="floatingSelect{{ key }}">{{ key }}</label>
              </div>
            }
            @else if (key.endsWith('Parent')){
              <div class="form-floating">
                <select class="form-select" id="floatingSelect{{ key }}" (change)="onParentChange($event)">
                  <option value="" selected disabled>Open menu to select...</option>
                  <option *ngFor="let option of data[key]" [value]="option.id" [selected]="option.name === selectedRow[key]">
                    {{ option.name }}
                  </option>
                </select>

                <label for="floatingSelect{{ key }}">{{ key }}</label>
              </div>
            }
            @else if (key=='path'){
              <div class="">

                <input class="form-control bg-dark" type="file" >
              </div>
            }
            @else if (key=='dateFrom' || key=='dateTo'){
              <div class="form-floating">
                <input class="form-control bg-dark custom-datetime" type="datetime-local" [value]="selectedRow[key]">
              </div>

            }
            @else {
              <input
                class="form-control"
                id="floatingInput{{ key }}"
                [(ngModel)]="selectedRow[key]"
                [disabled]="key === 'id'"
              />
              <label for="floatingInput{{ key }}">{{ key }}</label>
            }

          </div>
          <div class="alert alert-danger text-center" *ngIf="errors && errors.length > 0">
            <ul class="list-unstyled">
              <li *ngFor="let error of errors">{{ error.error }}</li>
            </ul>
          </div>


        }


      </div>


      <div class="modal-footer mt-3">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button class="btn btn-primary" (click)="SaveChanges()">Save</button>
      </div>
    </div>
  </div>
</div>

