<div class="product-item bg-light mb-4">
  <div class="product-img position-relative overflow-hidden">
    <img class="img-fluid w-100" src="http://localhost:5083/images/{{ product.pictures[0].path}}" alt="">
    <div class="product-action">
      <a class="btn btn-outline-dark btn-square" (click)="AddToCart($event, product.id)"><i class="fa fa-shopping-cart"></i></a>
      <a class="btn btn-outline-dark btn-square" href="/products/{{product.id}}"><i class="fa fa-search"></i></a>
    </div>
  </div>
  <div class="text-center py-4">
    <a class="h6 text-decoration-none text-truncate" href="/products/{{product.id}}">{{product.brandName}} {{product.modelName}}</a>
    <div class="d-flex align-items-center justify-content-center mt-2">
      <h5>{{product.price | currency:'USD':'symbol'}}</h5>
    </div>

  </div>
</div>

