<div class="row px-xl-5">
  <div class="col-12">
    <nav class="breadcrumb bg-light mb-30">
      <a class="breadcrumb-item text-dark" href="/home">Home</a>
      <span class="breadcrumb-item active">Profile</span>
    </nav>
  </div>
</div>
<div class="row px-xl-5">
  <div class="col">
    <div class="bg-light p-30">
      <div class="nav nav-tabs mb-4">
        <a class="nav-item nav-link text-dark active" id="ordersDetails1" data-toggle="tab" href="#tab-pane-1">About user</a>
        <a class="nav-item nav-link text-dark" id="ordersDetails" data-toggle="tab" href="#tab-pane-2">Order details</a>
        <a class="nav-item nav-link text-dark" id="ordersDetails" data-toggle="tab" href="#tab-pane-3">Configuration details</a>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-pane-1">
          <div id="profile" class="row h-100">
            <div class="col-xl-4 h-100">
              <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center ">
                  <img class="img-account-profile rounded-circle mb-2" style="width: 150px"
                       [src]="'http://localhost:5083/images/' + response.path" alt>

                  <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>

                  <input type="file" class="form-control mb-4" (change)="onFileSelected($event)">
                  <button (click)="updateProfilePicture()" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>


            <div class="col-xl-8 h-100" >

              <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">




                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" [(ngModel)]="user.firstName" name="firstname" placeholder="John">
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" [(ngModel)]="user.lastName" name="lastname" placeholder="Doe">
                      </div>
                      <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" [(ngModel)]="user.email" name="email" placeholder="example@email.com">
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" [(ngModel)]="user.phone" name="phone" placeholder="+123 456 789">
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" type="text" [(ngModel)]="user.address" name="address" placeholder="123 Street">
                      </div>

                      <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" type="text" [(ngModel)]="user.city" name="city" placeholder="New York">
                      </div>



                    </div>

                    <button class="btn btn-primary" type="submit" (click)="UpdateUser()"> Save changes</button>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="tab-pane-2">


          <div class="card mb-4">
            <div class="card-header">Order History</div>
            <div class="card-body p-0">
              <div class="table-responsive table-billing-history">
                <div id="accordion">
                  <div class="card" *ngFor="let x of carts; let i = index">
                    <div class="card-header" id="heading{{i}}">
                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                        Order ID: {{ x.id }} - Date: {{ x.createdAt | date: 'dd/MM/yyyy' }}
                      </button>
                    </div>
                    <div [id]="'collapse' + i" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
              <span class="badge badge-primary" style="font-size: 15px; padding: 10px 10px;">
                Total Price: {{ x.totalPrice }}$
              </span>
                        <table class="table table-borderless table-striped">
                          <thead>
                          <tr>
                            <th>Product</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let y of x.cartItems">
                            <td>{{ y.modelVersionName }}</td>
                            <td>
                              <img [src]="'http://localhost:5083/images/' + y.pictures[0].path" style="width: 70px; height: 70px;">
                            </td>
                            <td>{{ y.price }}$</td>
                            <td>{{ y.quantity }}</td>
                            <td>{{ y.price * y.quantity }}$</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="tab-pane-3">
          <div class="card mb-4">
            <div class="card-header">Configurations</div>
            <div class="card-body p-0">
              <div class="table-responsive table-billing-history">
                <div id="configAccordion">
                  <div class="card" *ngFor="let config of configurations; let i = index">
                    <div class="card-header" id="configHeading{{i}}">
                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#configCollapse' + i" aria-expanded="false" [attr.aria-controls]="'configCollapse' + i">
                        Configuration ID: {{ config.id }} - Created: {{ config.createdAt | date: 'dd/MM/yyyy' }}
                      </button>
                    </div>
                    <div [id]="'configCollapse' + i" class="collapse" data-bs-parent="#configAccordion">
                      <div class="card-body">
                        <span class="badge badge-primary" style="font-size: 15px; padding: 10px 10px;">
                          Total Price: {{config.totalPrice}}$
                        </span>
                        <table class="table table-borderless table-striped">
                          <thead>
                          <tr>
                            <th>Component</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of config.components">
                            <td>{{ item.modelVersionName }}</td>
                            <td>
                              <img [src]="'http://localhost:5083/images/' + item.pictures[0].path" style="width: 70px; height: 70px;">
                            </td>
                            <td>{{ item.price }}$</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price * item.quantity }}$</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
